body{
    margin: 0px;
    text-align: center;
    font-family: ;
}

#top_container{
    background-color: rgb(214, 241, 241);
    
    
    /* width: 200px;
    height: 200px; */
    /* position: absolute;
    padding: 100px; */
    /* border: solid;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 460px; */
}

#middle_container{
    background-color: antiquewhite;
    position: absolute;
    left:200px;
    top: 200px;
    width: 200px;
    height: 200px;
    

    /* margin-left: 225px; */
    /* border: solid;
    padding: 10px;
    display: inline-block;
    position: relative;
    right: 230px; */
}

#bottom_container{
    background-color: brown;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 400px;
    top: 400px;
    /* margin-left: 450px; */
    /* border: solid;
    padding: 10px;
    display: inline-block;
    position: relative;
    right:230px */
}