

body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 6rem;
    margin-top: 0;
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Dancing Script', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: rgb(165, 204, 204);
    padding-top: 250px;
    position: relative;
    
    /* width: 200px;
    height: 200px; */
    /* position: absolute;
    padding: 100px; */
    /* border: solid;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 460px; */
}
.top_cloud{
    position: absolute;
    right: 200px;
    top: 50px;
 }
 
 .bottom_cloud{
     position: absolute;
     left:100px;
     bottom:300px;
 }
 

.middle-container{



    /* background-color: antiquewhite;
    position: absolute;
    left:200px;
    top: 200px;
    width: 200px;
    height: 200px; */

    /* margin-left: 225px; */
    /* border: solid;
    padding: 10px;
    display: inline-block;
    position: relative;
    right: 230px; */
}

.bottom-container{
    
    
    /* background-color: brown;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 400px;
    top: 400px; */
    /* margin-left: 450px; */
    /* border: solid;
    padding: 10px;
    display: inline-block;
    position: relative;
    right:230px */
}

